@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<footer ">
    <div class="container" >
        <div class="row">
            <!-- About -->
            <div class="col-md-6 col-sm-12 text-center">
                <h3>About</h3>
                <div class="footer-about">
                 Bu site ASP.Net Core MVC Teknolojisi kullanılarak yapılmıştır.
                 MVC, Model-View-Controller Yapısıdır.
                 C# , EntityFramework ile kodlanmıştır.
                 Frontend kısmında Html, Css, Bootstrap kullanılmıştır.
                </div>
            </div>
            <!-- Author -->
            <div class="col-md-6 col-sm-12 text-center">
                <div class="footer-author">
                    <a href="https://github.com/anilarslan0" target="_blank">Anıl ARSLAN</a>
                    <i class="fa fa-heart" aria-hidden="true"></i>
                    Tarafından Kodlanmıştır.

                </div>
            </div>
        </div>
    </div>
</footer>